<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% if(check == '0') {%>
    <script>
        alert('틀림 ㅅㄱ');    
        location.href='/login'
    </script>
    <%}%>
    <% if(check == '1') {%>
        <script>
            alert('좆그인 성공');    
            location.href='/'
        </script>
        <%}%>
</body>
</html>