<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <form method=post action="/process/login">
    <h1>로그인 페이지</h1>
    <p>ID : <input type=text name=id></p>
    <p>PASS : <input type=password name=password></p>
    <p><input type=submit value="로그인"></p>
  </body>
</html>